body {
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: white;
    font: 1.5vw Inconsolata, monospace;
    text-shadow: 0 0 5px #c8c8c8;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}

form,
#typewriter {
    padding-left: 2rem;
}

input {
    font-family: inherit;
    font-size: inherit;
    font-size: inherit;
    color: rgb(240, 191, 129);
    background: transparent;
    border: none;
    outline: none;
}

ul {
    list-style-type: none;
    padding-left: 2rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}